<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deng.account.mapper.AccountSystemRoleMapper">
    <resultMap id="BaseResultMap" type="com.deng.account.entitys.AccountSystemRole">
        <id column="id" property="id" />
        <result column="role_type_desc" property="roleTypeDesc" />
        <result column="status" property="status" />
        <result column="remark" property="remark" />
        <result column="gmt_created_by" property="gmtCreatedBy"/>
        <result column="gmt_created_on" property="gmtCreatedOn"/>
        <result column="gmt_updated_by" property="gmtUpdatedBy"/>
        <result column="gmt_updated_on" property="gmtUpdatedOn"/>
        <result column="gmt_version" property="gmtVersion"/>
    </resultMap>
</mapper>